*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body#home{
    background-image: url(../images/backgorund.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main.container{
    height: 100vh;
}

button#insert,
button#filter{
    width: 100%;
}

section{
    padding: 1.5em;
}



@media (max-width: 575.98px) { 

   
}